In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import difflib

In [35]:
df = pd.read_json('../Data2.json')
df.sort_index(inplace=True)
df.head(2)

,accUni,apDegree,apUni,bachelorsAvg,bachelorsUni,country,engExamAnlt,engExamQuan,engExamResult,engExamType,...,extra,field,fund,fundType,masterAvg,masterUni,papersGLOB,papersIRAN,rejUni,year
2,n/a,Doctorate,"Heriot Watt University, Edinburgh",17.74,آزاد اسلامی امیدیه,انگلستان,n/a,n/a,n/a,n/a,...,Award is in GBP.The amount is for living stipe...,Petroleum Engineering,12600,Award,n/a,n/a,4,8,n/a,2007
3,"EPFL Switzerland, Northwestern",Doctorate,Northwestern,15.70,فردوسی مشهد,آمریکا,3,760,100,iBT,...,سال 2008 اومدم آمریکا و دو سال master رو در دا...,Civil Engineering / Transportation,63000,RA,19,Portland State University,8,10,"UC Berkeley, Georgia Tech",2010

In [36]:
df['field'].value_counts().head()

Mechanical Engineering    261
Computer Science          190
Electrical Engineering    147
Civil Engineering          94
Chemical Engineering       84
Name: field, dtype: int64

In [37]:
df['field'].value_counts().count()

1519

In [38]:
df['field']=df['field'].str.lower()
df['field'].value_counts().count()

1307

**1307 types of fields**

In [39]:
for i in df.index:
    f=df.get_value(i,'field').strip()
    if "civil" in f: 
        df.set_value(i,'field','civil')
    elif "wireless" in f: 
        df.set_value(i,'field','wireless')
    elif ("computer sci" in f) | ("compter sci" in f) | ('ai'==f) | ('artificial' in f)| ('machine' in f)| ('robot' in f): 
        df.set_value(i,'field','computer science')
    elif "account" in f: 
        df.set_value(i,'field','accounting')
    elif ("electrical" in f )| ('electronic'in f): 
        df.set_value(i,'field','electric')
    elif "mechanic" in f: 
        df.set_value(i,'field','mechanic')
    elif "math" in f: 
        df.set_value(i,'field','math')
    elif "law" in f: 
        df.set_value(i,'field','law')
    elif ("software" in f) | ('computer' in f): 
        df.set_value(i,'field','computer engineering')
    elif ("information t" in f) | ("it"==f) | (f=='ict')| ('it ' in f): 
        df.set_value(i,'field','information technology')
    elif "information sec" in f: 
        df.set_value(i,'field','information security')
    elif "economic" in f: 
        df.set_value(i,'field','economics')
    elif "material" in f: 
        df.set_value(i,'field','materials')
    elif "market" in f: 
        df.set_value(i,'field','marketing')
    elif "construct" in f: 
        df.set_value(i,'field','construction')
    elif "management eng" in f: 
        df.set_value(i,'field','engineering management')
    elif "chemical" in f: 
        df.set_value(i,'field','chemical engineering')
    elif "geology" in f: 
        df.set_value(i,'field','geology')
    elif "power" in f: 
        if "elec" in f: 
            df.set_value(i,'field','electric') 
        else: 
            df.set_value(i,'field','power engineering') 
    elif "project" in f: 
        df.set_value(i,'field','project management')
    elif "physic" in f: 
        df.set_value(i,'field','physics')
    elif "psyc" in f: 
        df.set_value(i,'field','psychology')
    elif "media" in f: 
        df.set_value(i,'field','media informatics')
    elif "business" in f: 
        df.set_value(i,'field','mba')
    elif "finance" in f: 
        df.set_value(i,'field','finance')
    elif ("english" in f) | ('tesol' in f): 
        df.set_value(i,'field','english literature')
    elif "urban" in f: 
        df.set_value(i,'field','urban planning')
    elif "network" in f: 
        df.set_value(i,'field','networks and distributed systems')
    elif "biomedic" in f: 
        df.set_value(i,'field','biomedical engineering')
    elif "water" in f: 
        df.set_value(i,'field','water management')
    elif "telecommunication" in f: 
        df.set_value(i,'field','telecommunication engineering')
    elif "industrial" in f: 
        df.set_value(i,'field','industrial engineering')
    elif "statis" in f: 
        df.set_value(i,'field','statistics')
    elif "information sys" in f: 
        df.set_value(i,'field','information systems')
    elif "chemist" in f: 
        df.set_value(i,'field','chemistry')
    elif "chem." in f: 
        df.set_value(i,'field','chemical engineering')
    elif "mining" in f: 
        df.set_value(i,'field','mining')

In [40]:
print(str(df['field'].value_counts().count())+' types')

655 types

In [41]:
head=df['field'].value_counts()
head[head>5]

mechanic                            406
electric                            360
computer science                    294
civil                               247
chemical engineering                147
computer engineering                137
industrial engineering              120
physics                             115
chemistry                            75
mba                                  72
architecture                         70
materials                            68
economics                            49
biomedical engineering               48
math                                 46
information technology               39
urban planning                       34
petroleum engineering                28
law                                  26
marketing                            26
english literature                   25
engineering management               24
environmental engineering            21
psychology                           21
water management                     19
information systems                  18
construction                         18
media informatics                    15
power engineering                    14
geology                              14
project management                   14
telecommunication engineering        12
information security                 11
neuroscience                         10
management                           10
networks and distributed systems     10
accounting                           10
architectural engineering             9
statistics                            9
finance                               9
mining                                9
sociology                             8
structural engineering                7
energy engineering                    7
aerospace engineering                 7
wireless                              7
Name: field, dtype: int64

In [42]:
head=head[head>5].index

### Using difflib Library
### difflib.get_close_matches(word, possibilities[, n][, cutoff])
### cutoff (default 0.6)

** Testing Library **

In [43]:
difflib.get_close_matches('wireless communications engineering',head)

['telecommunication engineering',
 'biomedical engineering',
 'computer engineering']

** ! Wow Error with deafult CUTOFF **

In [44]:
difflib.get_close_matches('wireless communications engineering',head,cutoff=0.7)

['telecommunication engineering']

** Better than default one **

In [45]:
for i in df.index:
    f=df.get_value(i,'field')
    if f in head:continue
    f=f.replace(u")",'')
    f=f.replace(u"(",'')
    res=difflib.get_close_matches(f,head)
    if res==[]:continue
    df.set_value(i,'field',res[0])

In [46]:
new=df['field'].value_counts()
new.count()

372

In [47]:
print(str(new[new>4].count())+' main types')

48 main types

In [48]:
out=new[new<3]
out.head()

sustainable energy technology            2
maschinenbau                             2
ie                                       2
fine arts                                2
genetic engineering and biotechnology    2
Name: field, dtype: int64

In [49]:
for i in df.index:
    f=df.get_value(i,'field')
    if f in out:
        df.set_value(i,'field','n/a')

In [50]:
df['field'].value_counts().count()

58

In [51]:
x=df.field.value_counts()
pd.set_option('display.max_rows', len(x))
print(x)
pd.reset_option('display.max_rows')

mechanic                            418
electric                            365
n/a                                 342
computer science                    309
civil                               248
chemical engineering                159
computer engineering                153
industrial engineering              127
physics                             119
architecture                         84
mba                                  77
chemistry                            77
biomedical engineering               70
materials                            69
information technology               69
economics                            52
math                                 46
engineering management               42
environmental engineering            39
petroleum engineering                36
urban planning                       35
information systems                  35
media informatics                    35
neuroscience                         34
telecommunication engineering        33
water management                     31
marketing                            27
english literature                   27
sociology                            27
construction                         27
law                                  26
power engineering                    24
management                           23
psychology                           23
project management                   23
geology                              23
architectural engineering            16
energy engineering                   16
structural engineering               15
information security                 15
accounting                           13
aerospace engineering                11
statistics                           11
mining                               11
networks and distributed systems     10
finance                               9
wireless                              7
philosophy                            5
linguistics                           5
operations research                   4
ece                                   3
hydraulic structures                  3
applied linguistics                   3
medicine                              3
education                             3
signal processing                     3
automation                            3
veterinary medicine                   3
Name: field, dtype: int64

In [52]:
groups=[["computer science","computer engineering","information technology","wireless","information systems","media informatics","information security","signal processing","telecommunication engineering","networks and distributed systems"],["mechanic"],["physics"],["math","statistics","operations research"],["chemical engineering","chemistry","biomedical engineering	"],["civil","law","economics",""],["accounting","finance"],["geology","environmental engineering","petroleum engineering","water management","mining","aerospace engineering","hydraulic structures","materials"],["architectural engineering","architecture","structural engineering"],["industrial engineering"],["engineering management","mba","management","project management","urban planning "],["power engineering","electric","energy engineering"],["philosophy"],["psychology","neuroscience","sociology"],["linguistics","english literature","applied linguistics"],["marketing"],["education"],["automation"],["ece"]]

In [53]:
for inx,d in df.iterrows():
    for i,g in enumerate(groups):
        if (d['field']!='n/a') & (d['field'] in g):
            df.set_value(inx, 'fieldGroup', i)

In [54]:
df.head()

,accUni,apDegree,apUni,bachelorsAvg,bachelorsUni,country,engExamAnlt,engExamQuan,engExamResult,engExamType,...,field,fund,fundType,masterAvg,masterUni,papersGLOB,papersIRAN,rejUni,year,fieldGroup
2,n/a,Doctorate,"Heriot Watt University, Edinburgh",17.74,آزاد اسلامی امیدیه,انگلستان,n/a,n/a,n/a,n/a,...,petroleum engineering,12600,Award,n/a,n/a,4,8,n/a,2007,7.0
3,"EPFL Switzerland, Northwestern",Doctorate,Northwestern,15.70,فردوسی مشهد,آمریکا,3,760,100,iBT,...,civil,63000,RA,19,Portland State University,8,10,"UC Berkeley, Georgia Tech",2010,5.0
5,n/a,Doctorate,Cornell,17.68,اميرکبير,آمریکا,3.5,800,100,iBT,...,engineering management,59400,TA/RA,18.04,شريف,4,4,"Virginia Tech, INSEAD, MIT Sloan,Cornegie Mell...",2008,10.0
6,"Dalhousie, Clemson, TUDelft, NTU-NUS (SINGA sc...",Masters,Chalmers,16.00,صنعتی امیرکبیر,سوئد,3,800,92,iBT,...,information technology,0,n/a,n/a,n/a,0,0,"UC Berkeley, UC Davis, Carneigie Mellon",2008,0.0
7,"Carlos III Madrid, FHTW Berlin, Chalmers, Poli...",Masters,"Carlos III Madrid, Spain",7.67,پلی تکنیک بخارست، رومانی - معدل 7.67 از 10,اسپانیا,n/a,n/a,103,iBT,...,mba,24500,TA,n/a,n/a,0,0,Chalmers,2008,10.0

In [55]:
df.to_json('Data_Field.json',date_format='utf8')