In [1]:
import os
import pandas as pd

In [2]:
def read_files(path):
    for root, dir_names, file_names in os.walk(path):
        for path in dir_names:
            if 'Extra' in path: continue
            read_files(os.path.join(root, path))
        for file_name in file_names:
            if (('Data2.json' == file_name) | ('Data_' in file_name)):
                file_path = os.path.join(root, file_name)
                past_header, lines = False, []
                yield file_path

In [3]:
filenames=read_files('../')

In [4]:
dfs=[]
for i,f in enumerate(filenames):
    print(i,f)
    dfs.append(pd.read_json(f).sort_index())

(0, '../Data2.json')
(1, '../01_YEAR\\Data_FixedYear.json')
(2, '../04_Country\\Data_Country.json')
(3, '../05_English\\Data_FixedENG.json')
(4, '../06_Fund\\Data_FixedFound.json')
(5, '../07_GPA\\Data_FixedGPA.json')
(6, '../08_Field\\Data_Field.json')
(7, '../09_Uni\\Data_Uni.json')

In [5]:
clist=[dfs[0][['apDegree','papersIRAN','papersGLOB']]
       ,dfs[1]['year']
       ,dfs[2]['country']
       ,dfs[3][['eng','gre','engExamResult','greQuan','greAnlt','greVrbl']]
       ,dfs[4][['fund','fundValue','fundType']]
       ,dfs[5][['gpaBachelors','gpaMasters']]
       ,dfs[6][['field','fieldGroup']]
       ,dfs[7][['uniSelected', 'uniAccepted','uniRejected','uniMasters','uniBachelors','highLevelBachUni','uniBachelorsOLD','highLevelMasterUni','uniMastersOLD']]
      ]
df=pd.concat(clist, axis=1).sort_index()
df.head()

,apDegree,papersIRAN,papersGLOB,year,country,eng,gre,engExamResult,greQuan,greAnlt,...,fieldGroup,uniSelected,uniAccepted,uniRejected,uniMasters,uniBachelors,highLevelBachUni,uniBachelorsOLD,highLevelMasterUni,uniMastersOLD
2,Doctorate,8,4,2007,england,High,False,7.153244,NaN,NaN,...,7.0,heriot-watt,n/a,n/a,n/a,azad,False,آزاد اسلامی امیدیه,False,n/a
3,Doctorate,10,8,2010,united states,VeryHigh,True,8.000000,170.0,3.0,...,5.0,northwestern,switzerland,"california, berkeley",portland state,mashhad,True,فردوسی مشهد,False,portland state
5,Doctorate,4,4,2008,united states,VeryHigh,True,8.000000,170.0,3.5,...,10.0,cornell,n/a,virginia state,sharif,amir-kabir,True,اميرکبير,True,شريف
6,Masters,0,0,2008,sweden,High,True,7.000000,170.0,3.0,...,0.0,chalmers,dalhousie,"california, berkeley",n/a,amir-kabir,True,صنعتی امیرکبیر,False,n/a
7,Masters,0,0,2008,spain,VeryHigh,False,8.000000,NaN,NaN,...,10.0,carlos iii de madrid,carlos iii de madrid,chalmers,n/a,پلی تکنیک بخارست، رومانی n/a معدل 7.67 از 10,False,پلی تکنیک بخارست، رومانی n/a معدل 7.67 از 10,False,n/a

In [6]:
df.shape

(3526, 27)

In [7]:
df.rename(columns={'apDegree': 'degree'}, inplace=True)

In [8]:
df.to_json('Merged.json',date_format='utf8')