In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_json('../Data2.json')
df.sort_index(inplace=True)

دانشگاه‌های پذیرفته شده: accUni

دانشگاه انتخاب شده:apUni

# accUni

In [3]:
df['accUni'].value_counts().count()

2505

** We have 2505 type of Universities in our data :)**

In [4]:
df['accUni']=df['accUni'].str.lower()
df['accUni'].value_counts().count()

2403

In [5]:
(df['accUni']=='n/a').value_counts()

False    2953
True      573
Name: accUni, dtype: int64

### 573 Missing Data in "accUni"

# apUni

In [6]:
df['apUni'].value_counts().count()

1607

In [7]:
df['apUni']=df['apUni'].str.lower()
df['apUni'].value_counts().count()

1376

In [8]:
df['apUni'].value_counts()

n/a                                                   426
politecnico di milano                                  46
kth                                                    46
university of alberta                                  32
concordia                                              32
utm                                                    27
ubc                                                    26
ntnu                                                   24
unsw                                                   23
concordia university                                   22
politecnico di torino                                  22
university of calgary                                  21
rwth aachen                                            20
mcgill                                                 19
university of toronto                                  19
chalmers                                               19
alberta                                                19
sfu                                                    18
waterloo                                               18
mcmaster                                               16
virginia tech                                          16
university of saskatchewan                             15
university of manitoba                                 15
university of houston                                  13
university of victoria                                 13
calgary                                                13
university of waterloo                                 13
upm                                                    13
arizona state university                               12
ncsu                                                   12
                                                     ...
university of leoben                                    1
imperial college london                                 1
university of texas                                     1
karlsruher institut fur technologie                     1
dalhousoie university                                   1
universite de montreal                                  1
mapua                                                   1
state university of newyork at buffalo                  1
university of oxford                                    1
erasmus mundus master of bioethics                      1
the university of auckland                              1
academy of art san fransisco                            1
university of washington-seattle                        1
texas a.m                                               1
georg-august university gottengin                       1
university of queensland - uq                           1
university of colorado-boulder                          1
philadelphia university                                 1
korea advanced institute of science and technology      1
university of new orleans                               1
jku                                                     1
university of erlangen-nurnberg                         1
toledo                                                  1
university of massachusetts amherst                     1
national university of singapore                        1
gottingen                                               1
ucr university of california, riverside                 1
texas am univ                                           1
la sapienza university of rome                          1
u michigan - ann arbor                                  1
Name: apUni, dtype: int64

### 426 Missing Data "apUni"

# bachelorsUni

In [9]:
df['bachelorsUni'].value_counts().count()

1367

In [10]:
df['bachelorsUni']=df['bachelorsUni'].str.lower()
df['bachelorsUni'].value_counts().count()

1221

In [11]:
df['bachelorsUni'].value_counts()

تهران                                            112
شریف                                              84
azad                                              82
university of tehran                              80
علم و صنعت                                        76
امیرکبیر                                          71
صنعتی اصفهان                                      61
amirkabir                                         46
تبریز                                             45
iust                                              45
sharif                                            44
شیراز                                             43
فردوسی مشهد                                       41
دانشگاه تهران                                     39
sharif university of technology                   38
خواجه نصیر                                        36
shiraz university                                 32
n/a                                               32
صنعتی شریف                                        32
صنعتی امیرکبیر                                    32
شهید بهشتی                                        31
university of tabriz                              29
iau                                               29
اصفهان                                            28
azad university                                   28
tehran                                            27
islamic azad university                           26
ferdowsi university of mashhad                    22
shahid beheshti                                   20
گیلان                                             17
                                                ...
elmo sanat                                         1
ازاد رامسر                                         1
private university                                 1
دانشگاه تفرش (سراسري)                              1
امیر کیبر                                          1
غیرانتفاعی بهمنیار کرمان                           1
azad of takestan                                   1
islamic azad university of khorasgan(isfahan)      1
shiraz u                                           1
ازاد خرم اباد                                      1
damqan azad university                             1
art university of isfahan                          1
موسسه آموزش عالی سجاد                              1
امام حسين                                          1
sadjad institute of higher ed                      1
دانشگاه صنعتی امیرکبیر                             1
جهرم                                               1
مرکز تحصیلات تکمیلی در علوم پایه زنجان             1
دانشگاه آزاد اسلامی تهران شمال                     1
دانشگاه آزاد واحد تبریز                            1
روزبه زنجان                                        1
علامه                                              1
منهدسی نرم افزار                                   1
azad - tehran north                                1
زاهدان                                             1
azad uni - tehran medical branch                   1
علم و صنعت ایران ( واحد اراک)                      1
kharazmi university                                1
راغب اصفهاني                                       1
kar university                                     1
Name: bachelorsUni, dtype: int64

### 32 Missing Data in "bachelorsUni"

In [12]:
df['masterUni'].value_counts().count()

688

In [13]:
df['masterUni']=df['masterUni'].str.lower()
df['masterUni'].value_counts().count()

638

In [14]:
df['masterUni'].value_counts()

n/a                                                 1712
تهران                                                124
شریف                                                  77
university of tehran                                  61
امیرکبیر                                              57
علم و صنعت                                            43
صنعتی شریف                                            42
sharif                                                40
iust                                                  40
دانشگاه تهران                                         32
tehran                                                27
تربیت مدرس                                            25
شهید بهشتی                                            25
amirkabir                                             23
sharif university of technology                       21
خواجه نصیر                                            21
صنعتی امیرکبیر                                        21
صنعتی اصفهان                                          19
azad                                                  18
amirkabir university of technology                    16
شیراز                                                 14
علامه طباطبایی                                        14
kntu                                                  13
tarbiat modares                                       12
shiraz university                                     11
ferdowsi university of mashhad                        11
فردوسی مشهد                                           11
utm                                                   11
tarbiat modares university                            10
تبریز                                                 10
                                                    ...
خاتم                                                   1
rhode island                                           1
iran university of science &amp;amp; tech              1
universtiy of isfahan                                  1
k.n toosi univesrity of technology                     1
azad-science and research                              1
غیرانتفائی                                             1
علوم پزشکی مازندران                                    1
tu delft                                               1
دانشگاه هنر تهران                                      1
isfahan univ. of tech                                  1
sharif uni. of tech                                    1
ُرجایی                                                 1
amirkabir university of technology (polytechnic)       1
يزد                                                    1
ازاد اسلامی واحد زنجان                                 1
university                                             1
iau-varamin                                            1
علوم و تحقيقات                                         1
university of akron                                    1
فنی تهران                                              1
شهیدبهشتی                                              1
iran univ of sci&amp;amp; tech                         1
azad saveh                                             1
university of semnan                                   1
مجازی شیراز                                            1
kiev technical university                              1
azad zanjan                                            1
tabrizu                                                1
دانشگاه شریعتی                                         1
Name: masterUni, dtype: int64

** 1712 Empty values. Does who want to apply for masters probably don't have MasterUni**

In [15]:
df[(df['apDegree']=='Doctorate') & (df['masterUni']=='n/a')]['masterUni'].value_counts()

n/a    167
Name: masterUni, dtype: int64

** Only 167 of people who want to apply for Doctorate don't have masterUni**

# rejUni

In [16]:
df['rejUni'].value_counts().count()

1259

In [17]:
df['rejUni']=df['rejUni'].str.lower()
df['rejUni'].replace([r'\-+','','none'],'n/a',regex=True,inplace=True)
df['rejUni'].value_counts().count()

1225

In [18]:
df['rejUni'].value_counts()

n/a                                                                                                                              2196
epfl                                                                                                                               10
ntnu                                                                                                                                8
cornell                                                                                                                             5
chalmers                                                                                                                            4
university of waterloo                                                                                                              4
university of helsinki                                                                                                              4
university of alberta                                                                                                               4
saarland                                                                                                                            4
mit                                                                                                                                 4
waterloo                                                                                                                            4
mcgill                                                                                                                              4
delft                                                                                                                               3
north carolina                                                                                                                      3
university of british columbia                                                                                                      3
sydney                                                                                                                              3
toronto                                                                                                                             3
stanford                                                                                                                            3
politecnico di milano                                                                                                               3
oregon state university                                                                                                             3
rwth aachen                                                                                                                         3
uwa                                                                                                                                 2
carlton                                                                                                                             2
northwestern                                                                                                                        2
upm                                                                                                                                 2
western ontario                                                                                                                     2
concordia                                                                                                                           2
ohio university                                                                                                                     2
msu                                                                                                                                 2
university of calgary                                                                                                               2
                                                                                                                                 ...
university of stutgart, twente, chalmers, kth, boras, malardalen, helsinki, oulu, tut, polimi, technical university of munikh       1
uic                                                                                                                                 1
deakin, rmit, unisa                                                                                                                 1
univ. of tokyo (shortn/alisted), ntu, ttu, missouri s&amp;amp;t                                                                     1
slu                                                                                                                                 1
drexel university                                                                                                                   1
alberta (geotech and mining), u of toronto, queens, vt, u of kentucky                                                               1
university of copenhagen                                                                                                            1
rpi, northwestern                                                                                                                   1
warwick, manchester                                                                                                                 1
virginia poly tech., u of washington, worcester polytech., nebraska lincoln                                                         1
rochestern/akentn/amax planck                                                                                                       1
purdue, illinois urban champ.                                                                                                       1
wterloon/atoronton/apurdue                                                                                                          1
ucsd, boston university, asu, u of washington seattle , vanderbilt university, cmu                                                  1
, ou, bu,vt, uaa (only clinical psy program among the others), unive of ark                                                         1
university of texas at austin, rice university                                                                                      1
epfln/a delft                                                                                                                       1
ucla, uci, ucr, john hopkins, upenn, utah,mcgill, waterloo                                                                          1
eth/university of twente/ university of windsor/lehigh university                                                                   1
university of delaware, university of california irvine, university of tennisee                                                     1
delaware,rensselaer,                                                                                                                1
usc u brown uc santa cruz                                                                                                           1
nevada, arizona, penstate, south dakota, virginia, west virginia, all around europe and austarlia                                   1
northeastern university, dartmouth college, boston university, purdue                                                               1
windsor, university of arizona, university of louisiana at lafayette                                                                1
university of tennessee, ncsu, university of kentucky                                                                               1
mcgill,ubc,mcmaster                                                                                                                 1
imperial college of london ? ucl                                                                                                    1
chalmers , kth , boras                                                                                                              1
Name: rejUni, dtype: int64

** 2190 N/A Data for Rejected Universities**

In [19]:
df.to_json('Fix1.json',date_format='utf8')