In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale
import matplotlib.pylab as plt

In [2]:
olddf=pd.read_json('../01_Preprocessing//First.json').sort_index()
olddf.targetUni.replace('n/a',np.nan,inplace=True)

In [3]:
olddf.columns

Index([u'country', u'countryCoded', u'degree', u'degreeCoded', u'eng',
       u'engCoded', u'fieldGroup', u'fund', u'gpaBachelors', u'gpaMasters',
       u'gre', u'highLevelBachUni', u'highLevelMasterUni', u'paper',
       u'targetUni', u'uniAccepted', u'uniBachelors', u'uniMasters',
       u'uniSelected', u'year'],
      dtype='object')

# phd

In [6]:
df=olddf[['countryCoded', 'degreeCoded','engCoded', 'fieldGroup', 'fund',
          'gpaBachelors', 'gpaMasters','gre', 'highLevelBachUni', 'highLevelMasterUni','paper']]
model=KMeans(n_clusters=10,random_state=99)
model.fit(df)
olddf['label']=Series(model.labels_,index=df.index)

# Canada, Masters, Medium Eng , Want Fund, 2.5GPA , 0GPA MS, NoGRE, NoTopUni,noTopUniMS, 1Paper, 0PaperIran, 2017
me=[1, 0,2, 3.5,True,2.5,0,False,False,False,1]
pred=model.predict([me])
olddf[olddf.label==pred[0]]['targetUni'].value_counts().head(10)

alberta                 13
waterloo                10
royal lnstitute of       9
bologna                  8
new south wales          8
calgary                  8
ottawa                   6
north carolina state     6
concordia                6
polytechnic  tirane      6
Name: targetUni, dtype: int64

# Masters

In [7]:
# 'countryCoded', 'engCoded', 'fieldGroup','gpaBachelors','gre',
# 'highLevelBachUni','papersGLOB','papersIRAN','fund'
me=[1,2, 0,2.5,False,False,1,True]

In [8]:
df=olddf[['countryCoded', 'engCoded', 'fieldGroup','gpaBachelors','gre', 'highLevelBachUni','paper','fund']]
model=KMeans(n_clusters=10,random_state=99)
model.fit(df)
olddf['label']=Series(model.labels_,index=df.index)
pred=model.predict([me])
olddf[olddf.label==pred[0]]['targetUni'].value_counts().head(10)

concordia           29
simon fraser        17
calgary             17
alberta             16
melbourne           13
british columbia    12
manitoba            11
western ontario      9
northeastern         9
toronto              8
Name: targetUni, dtype: int64

# range clusters

In [9]:
cl=[u'country', u'degree', u'eng', u'fieldGroup', u'fund', u'gpaBachelors',
       u'gre', u'highLevelBachUni', u'paper', u'targetUni', u'year']
recomUni=[]
for i in range(2,20):
    model=KMeans(n_clusters=i,random_state=99)
    model.fit(df)
    pr=model.predict([me])
    
    olddf['label']=Series(model.labels_,index=df.index)
    recomUni.append(olddf[(olddf.label==pr[0])&(olddf.countryCoded==me[0])][cl])

In [10]:
allProp=pd.concat(recomUni)

In [11]:
allProp.groupby('targetUni').count().ix[:,0].sort_values(ascending=False).head(15)

targetUni
concordia                                475
alberta                                  320
calgary                                  296
simon fraser                             286
melbourne                                216
british columbia                         209
manitoba                                 190
toronto                                  168
western ontario                          158
waterloo                                 153
saskatchewan                             123
mcgill                                   111
mcmaster                                 109
new south wales                           92
swiss federal institute of , lausanne     91
Name: country, dtype: int64

In [12]:
for l in cl:
    print(allProp.groupby(l).count().ix[:,0].sort_values(ascending=False).head(10))
    print '\n'

country
canada         3812
australia       770
switzerland     216
Name: degree, dtype: int64


degree
Masters      2745
Doctorate    2053
Name: country, dtype: int64


eng
High        2571
VeryHigh    1320
Medium       905
Low            2
Name: country, dtype: int64


fieldGroup
0    2999
1    1107
2     339
4     156
5     130
3      67
Name: country, dtype: int64


fund
True     3346
False    1452
Name: country, dtype: int64


gpaBachelors
 3.000000     1425
 2.500000     1030
 3.500000      885
 2.000000      711
 4.000000      390
 1.500000      224
 2.611309       73
 1.000000       59
-14.000000       1
Name: country, dtype: int64


gre
False    3194
True     1604
Name: country, dtype: int64


highLevelBachUni
True     2664
False    2134
Name: country, dtype: int64


paper
0.0    2149
1.0     627
2.0     552
0.5     343
1.5     338
3.0     222
2.5     118
4.0      87
3.5      85
4.5      47
Name: country, dtype: int64


targetUni
concordia           475
alberta             320
calgary             296
simon fraser        286
melbourne           216
british columbia    209
manitoba            190
toronto             168
western ontario     158
waterloo            153
Name: country, dtype: int64


year
2013    763
2012    759
2010    664
2011    597
2014    505
2016    422
2015    329
2009    280
2008    266
2017    158
Name: country, dtype: int64