In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale
import matplotlib.pylab as plt

In [2]:
olddf=pd.read_json('../01_Preprocessing//First.json').sort_index()

In [3]:
olddf.head(2)

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,papersGLOB,papersIRAN,targetUni,uniAccepted,uniSelected,year
2,united kingdom,4,Doctorate,1,High,1,7,True,3.5,3.442986,False,False,False,4,8,"heriot watt , edinburgh",n/a,"heriot watt , edinburgh",2007
3,united states,0,Doctorate,1,VeryHigh,0,5,True,2.5,3.500000,True,True,False,8,10,northwestern,"epfl switzerland, northwestern",northwestern,2010

In [4]:
olddf.targetUni.replace('n/a',np.nan,inplace=True)

In [5]:
olddf.columns

Index([u'country', u'countryCoded', u'degree', u'degreeCoded', u'eng',
       u'engCoded', u'fieldGroup', u'fund', u'gpaBachelors', u'gpaMasters',
       u'gre', u'highLevelBachUni', u'highLevelMasterUni', u'papersGLOB',
       u'papersIRAN', u'targetUni', u'uniAccepted', u'uniSelected', u'year'],
      dtype='object')

In [6]:
df=olddf[['countryCoded', 'degreeCoded','engCoded', 'fieldGroup', 'fund',
          'gpaBachelors', 'gpaMasters','gre', 'highLevelBachUni', 'highLevelMasterUni',
          'papersGLOB','papersIRAN','year']]

In [25]:
met=['pearson', 'kendall', 'spearman']
df.corr(method=met[0])

,countryCoded,degreeCoded,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,papersGLOB,papersIRAN,year
countryCoded,1.000000,-0.242557,0.223448,-0.058426,-0.250685,-0.089071,-0.020520,-0.356188,-0.156446,-0.204001,-0.054296,-0.011518,0.035670
degreeCoded,-0.242557,1.000000,-0.180362,0.050019,0.507069,0.055572,0.034925,0.277032,0.146557,0.558625,0.349665,0.220017,0.067163
engCoded,0.223448,-0.180362,1.000000,-0.024266,-0.240378,-0.150995,-0.062658,-0.280492,-0.245169,-0.167391,-0.026694,0.025127,-0.039441
fieldGroup,-0.058426,0.050019,-0.024266,1.000000,0.029535,0.030246,0.059075,0.010689,0.021189,0.038417,0.027824,-0.003484,0.037319
fund,-0.250685,0.507069,-0.240378,0.029535,1.000000,0.154465,0.060127,0.300314,0.209170,0.363753,0.263139,0.136335,0.071757
gpaBachelors,-0.089071,0.055572,-0.150995,0.030246,0.154465,1.000000,0.219793,0.023537,0.023598,0.036417,-0.019028,-0.012367,0.069588
gpaMasters,-0.020520,0.034925,-0.062658,0.059075,0.060127,0.219793,1.000000,-0.006572,0.027471,-0.008423,0.059213,0.009890,0.064811
gre,-0.356188,0.277032,-0.280492,0.010689,0.300314,0.023537,-0.006572,1.000000,0.252744,0.231083,0.094337,0.009071,0.006196
highLevelBachUni,-0.156446,0.146557,-0.245169,0.021189,0.209170,0.023598,0.027471,0.252744,1.000000,0.273771,-0.004304,-0.026010,-0.047905
highLevelMasterUni,-0.204001,0.558625,-0.167391,0.038417,0.363753,0.036417,-0.008423,0.231083,0.273771,1.000000,0.173397,0.122391,0.014724
papersGLOB,-0.054296,0.349665,-0.026694,0.027824,0.263139,-0.019028,0.059213,0.094337,-0.004304,0.173397,1.000000,0.279791,0.037408
papersIRAN,-0.011518,0.220017,0.025127,-0.003484,0.136335,-0.012367,0.009890,0.009071,-0.026010,0.122391,0.279791,1.000000,-0.000947
year,0.035670,0.067163,-0.039441,0.037319,0.071757,0.069588,0.064811,0.006196,-0.047905,0.014724,0.037408,-0.000947,1.000000

In [34]:

# Canada, Masters, Medium Eng , Want Fund, 2.5GPA , 0GPA MS, NoGRE, NoTopUni,noTopUniMS, 1Paper, 0PaperIran, 2017
me=[1, 0, 2, 0, True, 2.5, 0, False, False, False, 1, 0, 2017]
me=[4, 1, 1, 7, True, 3.5, 3.44299, False, False, False, 4, 8, 2007]
sim=df.corrwith(Series(me), drop=True,axis=1).dropna()
sim

Series([], dtype: float64)

# ! noting similar