In [7]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from sklearn import preprocessing, tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, KFold
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import pydotplus 
from sklearn import metrics
from IPython.display import Image 
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import confusion_matrix

In [8]:
dff=pd.read_json('../01_Preprocessing/Second.json').sort_index()

In [9]:
dff.head(2)

,country,countryCode,degree,degreeCode,eng,field,fieldG_0,fieldG_1,fieldG_10,fieldG_11,...,greQ,greV,greW,highBU,highMU,paper,rejUni,targetUni,uniRank,year
2,united kingdom,4,Doctorate,1,8.0,petroleum engineering,False,False,False,False,...,NaN,NaN,NaN,False,False,7,n/a,heriot-watt,692.0,2007
3,united states,0,Doctorate,1,8.0,civil,False,False,False,False,...,159.0,143.0,3.0,True,False,11,"UC Berkeley, Georgia Tech",northwestern,20.0,2010

In [10]:
from sklearn import svm

clf.fit(X, y)

NameError: name 'clf' is not defined

In [ ]:
dff.columns

In [11]:
col=['countryCode', 'eng',
       'fieldG_0', 'fieldG_1', 'fieldG_10', 'fieldG_11', 'fieldG_12',
       'fieldG_13', 'fieldG_14', 'fieldG_15', 'fieldG_16', 'fieldG_17',
       'fieldG_18', 'fieldG_2', 'fieldG_3', 'fieldG_4', 'fieldG_5',
       'fieldG_6', 'fieldG_7', 'fieldG_8', 'fieldG_9',
       'gpaB', 'gre', 'greQ', 'greV', 'greW', 
       'highBU', 'paper', 'uniRank']

In [12]:
dff=dff[dff.degreeCode==0]
df=dff[col]

In [14]:
df.uniRank.fillna(300,inplace=True)
df.greQ.fillna(0,inplace=True)
df.greW.fillna(0,inplace=True)
df.greV.fillna(0,inplace=True)

In [15]:
df.head()

,countryCode,eng,fieldG_0,fieldG_1,fieldG_10,fieldG_11,fieldG_12,fieldG_13,fieldG_14,fieldG_15,...,fieldG_8,fieldG_9,gpaB,gre,greQ,greV,greW,highBU,paper,uniRank
6,2,7.0,True,False,False,False,False,False,False,False,...,False,False,3.0,True,166.0,138.0,3.0,True,0,443.0
7,3,8.0,False,False,True,False,False,False,False,False,...,False,False,2.5,False,0.0,0.0,0.0,False,0,300.0
8,1,6.5,False,False,True,False,False,False,False,False,...,False,False,3.0,False,0.0,0.0,0.0,True,0,318.0
9,0,8.0,True,False,False,False,False,False,False,False,...,False,False,3.5,False,0.0,0.0,0.0,True,1,21.0
12,0,7.5,True,False,False,False,False,False,False,False,...,False,False,3.5,True,155.0,146.0,3.5,False,1,300.0

In [16]:
xtr,xte,ytr,yte=train_test_split(df,dff.fund,test_size=0.2 ,random_state=99)

In [19]:
def build3(xtr, ytr,xte,yte,rocEnable):
    clf = svm.SVC(random_state=99)
    clf.fit(xtr, ytr)
    ypred = clf.predict(xte)
    if rocEnable==False:
        acc=accuracy_score(yte,ypred)*100
    else:
        fpr, tpr, thresholds = metrics.roc_curve(yte,ypred)
        acc=metrics.auc(fpr, tpr)*100
    conf=confusion_matrix(yte,ypred)
    return (clf,acc,conf)
def draw3(clf):
    dot_data = tree.export_graphviz(clf, out_file=None, feature_names=col,  max_depth=3, rounded=True)  
    graph = pydotplus.graph_from_dot_data(dot_data)  
    return Image(graph.create_png())

In [20]:
build3(xtr, ytr,xte,yte,True)

(SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
   max_iter=-1, probability=False, random_state=99, shrinking=True,
   tol=0.001, verbose=False), 63.651039363113668, array([[251,  15],
        [ 57,  28]]))

In [21]:
build3(xtr, ytr,xte,yte,False)

(SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
   max_iter=-1, probability=False, random_state=99, shrinking=True,
   tol=0.001, verbose=False), 79.487179487179489, array([[251,  15],
        [ 57,  28]]))