In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale
import matplotlib.pylab as plt

In [2]:
olddf=pd.read_json('../01_Preprocessing//First.json').sort_index()
olddf.targetUni.replace('n/a',np.nan,inplace=True)

In [3]:
olddf.columns

Index([u'country', u'countryCoded', u'degree', u'degreeCoded', u'eng',
       u'engCoded', u'fieldGroup', u'fund', u'gpaBachelors', u'gpaMasters',
       u'gre', u'highLevelBachUni', u'highLevelMasterUni', u'papersGLOB',
       u'papersIRAN', u'targetUni', u'uniAccepted', u'uniSelected', u'year'],
      dtype='object')

# phd

In [7]:
df=olddf[['countryCoded', 'degreeCoded','engCoded', 'fieldGroup', 'fund',
          'gpaBachelors', 'gpaMasters','gre', 'highLevelBachUni', 'highLevelMasterUni',
          'papersGLOB','papersIRAN']]
model=KMeans(n_clusters=10,random_state=99)
model.fit(df)
olddf['label']=Series(model.labels_,index=df.index)

# Canada, Masters, Medium Eng , Want Fund, 2.5GPA , 0GPA MS, NoGRE, NoTopUni,noTopUniMS, 1Paper, 0PaperIran, 2017
me=[1, 0,2, 3.5,True,2.5,0,False,False,False,1,0]
pred=model.predict([me])
olddf[olddf.label==pred[0]]['targetUni'].value_counts().head(10)

alberta                 18
royal lnstitute of      16
new south wales         12
waterloo                12
north carolina state    11
calgary                  9
bologna                  9
british columbia         8
manitoba                 7
western ontario          7
Name: targetUni, dtype: int64

# Masters

In [ ]:
# 'countryCoded', 'engCoded', 'fieldGroup','gpaBachelors','gre',
# 'highLevelBachUni','papersGLOB','papersIRAN','fund'
me=[1,2, 0,2.5,False,False,1,0,True]

In [5]:
df=olddf[['countryCoded', 'engCoded', 'fieldGroup','gpaBachelors','gre', 'highLevelBachUni','papersGLOB','papersIRAN','fund']]
model=KMeans(n_clusters=10,random_state=99)
model.fit(df)
olddf['label']=Series(model.labels_,index=df.index)
pred=model.predict([me])
olddf[olddf.label==pred[0]]['targetUni'].value_counts().head(10)

concordia           26
simon fraser        18
calgary             18
alberta             17
manitoba            14
melbourne           14
british columbia    13
western ontario     10
toronto              9
waterloo             9
Name: targetUni, dtype: int64

# range clusters

In [12]:
cl=[u'country', u'degree', u'eng', u'fieldGroup', u'fund', u'gpaBachelors',
       u'gre', u'highLevelBachUni', u'papersGLOB',u'papersIRAN', u'targetUni', u'year']
recomUni=[]
for i in range(2,20):
    model=KMeans(n_clusters=i,random_state=99)
    model.fit(df)
    pr=model.predict([me])
    
    olddf['label']=Series(model.labels_,index=df.index)
    recomUni.append(olddf[(olddf.label==pr[0])&(olddf.countryCoded==me[0])][cl])

In [26]:
allProp=pd.concat(recomUni)

In [46]:
allProp.groupby('targetUni').count().ix[:,0].sort_values(ascending=False).head(15)

targetUni
alberta             349
waterloo            223
calgary             207
new south wales     205
british columbia    180
concordia           177
manitoba            134
western ontario     128
simon fraser        119
ottawa              118
mcgill              101
queens               89
dalhousie            86
mcmaster             85
melbourne            83
Name: country, dtype: int64

In [45]:
for l in cl:
    print(allProp.groupby(l).count().ix[:,0].sort_values(ascending=False).head(10))
    print '\n'

country
canada         2988
australia       848
switzerland     147
Name: degree, dtype: int64


degree
Doctorate    2261
Masters      1722
Name: country, dtype: int64


eng
High        2078
Medium       938
VeryHigh     936
Low           31
Name: country, dtype: int64


fieldGroup
4    1101
5    1013
0     708
7     470
1     312
3     155
2      81
8      73
6      70
Name: country, dtype: int64


fund
True     3026
False     957
Name: country, dtype: int64


gpaBachelors
3.000000    1205
2.500000    1092
3.500000     612
2.000000     583
1.500000     208
4.000000     174
1.000000      64
2.611309      22
3.600000      14
3.570000       8
Name: country, dtype: int64


gre
False    2652
True     1331
Name: country, dtype: int64


highLevelBachUni
True     2075
False    1908
Name: country, dtype: int64


papersGLOB
0     1988
1      626
2      523
3      507
4      130
5       81
6       48
7       42
8       16
10       8
Name: country, dtype: int64


papersIRAN
0     2400
1      675
2      425
3      200
4      138
5       87
6       27
7       13
8        7
10       4
Name: country, dtype: int64


targetUni
alberta             349
waterloo            223
calgary             207
new south wales     205
british columbia    180
concordia           177
manitoba            134
western ontario     128
simon fraser        119
ottawa              118
Name: country, dtype: int64


year
2013    623
2012    580
2010    456
2014    453
2011    437
2016    384
2015    357
2008    266
2009    257
2017    147
Name: country, dtype: int64

# Nice

# but : unknown accuracy