In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df=pd.read_json('../../03_DataPreprocessing/00_Merge/Merged.json')

In [3]:
df.head()

,country,degree,eng,engExamResult,field,fieldGroup,fund,fundType,fundValue,gpaBachelors,...,papersGLOB,papersIRAN,uniAccepted,uniBachelors,uniBachelorsOLD,uniMasters,uniMastersOLD,uniRejected,uniSelected,year
10,canada,Doctorate,High,7.500000,electric,11.0,True,Award,25348,3.0,...,11,1,new south wales,amir-kabir,امير کبير,amir-kabir,امير کبير,"swiss federal institute of , lausanne",mcmaster,2008
100,sweden,Masters,VeryHigh,8.000000,urban planning,NaN,False,n/a,0,2.5,...,0,0,virginia tech_ florida_kth,beheshti,شهید بهشتی,n/a,n/a,mcgill ? carleton ?? ???? ??????_ ryerson ?? t...,royal lnstitute of,2008
1002,germany,Masters,High,7.153244,physics,2.0,False,n/a,0,2.0,...,0,0,université kofi annan,tehran,دانشگاه تهران,n/a,n/a,n/a,université kofi annan,2005
1003,canada,Masters,VeryHigh,8.000000,electric,11.0,True,Award,28400,4.0,...,1,0,toronto,amir-kabir,امیرکبیر,n/a,n/a,british columbia,toronto,2010
1006,sweden,Masters,VeryHigh,8.000000,law,5.0,False,n/a,0,4.0,...,0,0,n/a,tehran,تهران,n/a,n/a,n/a,north dakota,2010

In [4]:
Series(df.columns)

0                country
1                 degree
2                    eng
3          engExamResult
4                  field
5             fieldGroup
6                   fund
7               fundType
8              fundValue
9           gpaBachelors
10            gpaMasters
11                   gre
12               greAnlt
13               greQuan
14               greVrbl
15      highLevelBachUni
16    highLevelMasterUni
17            papersGLOB
18            papersIRAN
19           uniAccepted
20          uniBachelors
21       uniBachelorsOLD
22            uniMasters
23         uniMastersOLD
24           uniRejected
25           uniSelected
26                  year
dtype: object

In [5]:
df=df[['year','country','degree','eng','gre','fieldGroup','fund','highLevelBachUni','highLevelMasterUni','papersGLOB','gpaBachelors','gpaMasters','papersIRAN','uniAccepted','uniSelected']].copy()

In [6]:
Series(df.columns)

0                   year
1                country
2                 degree
3                    eng
4                    gre
5             fieldGroup
6                   fund
7       highLevelBachUni
8     highLevelMasterUni
9             papersGLOB
10          gpaBachelors
11            gpaMasters
12            papersIRAN
13           uniAccepted
14           uniSelected
dtype: object

In [7]:
df.head(2)

,year,country,degree,eng,gre,fieldGroup,fund,highLevelBachUni,highLevelMasterUni,papersGLOB,gpaBachelors,gpaMasters,papersIRAN,uniAccepted,uniSelected
10,2008,canada,Doctorate,High,True,11.0,True,True,True,11,3.0,4.0,1,new south wales,mcmaster
100,2008,sweden,Masters,VeryHigh,True,NaN,False,True,False,0,2.5,NaN,0,virginia tech_ florida_kth,royal lnstitute of

In [8]:
for i in df.index:
    r=df.get_value(i,'uniSelected')
    if r=='n/a':
        r=df.get_value(i,'uniAccepted')
    df.loc[i,'targetUni']=r

In [9]:
df.sort_index(inplace=True)

In [10]:
df.head(2)

,year,country,degree,eng,gre,fieldGroup,fund,highLevelBachUni,highLevelMasterUni,papersGLOB,gpaBachelors,gpaMasters,papersIRAN,uniAccepted,uniSelected,targetUni
2,2007,england,Doctorate,High,False,7.0,True,False,False,4,3.5,NaN,8,n/a,heriot-watt,heriot-watt
3,2010,united states,Doctorate,VeryHigh,True,5.0,True,True,False,8,2.5,3.5,10,switzerland,northwestern,northwestern

In [11]:
df.isnull().sum()

year                     0
country                  0
degree                   0
eng                      0
gre                      0
fieldGroup             480
fund                     0
highLevelBachUni         0
highLevelMasterUni       0
papersGLOB               0
gpaBachelors            35
gpaMasters            1709
papersIRAN               0
uniAccepted              0
uniSelected              0
targetUni                0
dtype: int64

In [12]:
df.fieldGroup.fillna(df.fieldGroup.mode()[0],inplace=True)

In [13]:
df.gpaBachelors.fillna(df.gpaBachelors.mean(),inplace=True)

In [14]:
df.gpaMasters.fillna(df.gpaMasters.mean(),inplace=True)

In [15]:
df.isnull().sum()

year                  0
country               0
degree                0
eng                   0
gre                   0
fieldGroup            0
fund                  0
highLevelBachUni      0
highLevelMasterUni    0
papersGLOB            0
gpaBachelors          0
gpaMasters            0
papersIRAN            0
uniAccepted           0
uniSelected           0
targetUni             0
dtype: int64

In [16]:
df.head(2)

,year,country,degree,eng,gre,fieldGroup,fund,highLevelBachUni,highLevelMasterUni,papersGLOB,gpaBachelors,gpaMasters,papersIRAN,uniAccepted,uniSelected,targetUni
2,2007,england,Doctorate,High,False,7.0,True,False,False,4,3.5,3.442986,8,n/a,heriot-watt,heriot-watt
3,2010,united states,Doctorate,VeryHigh,True,5.0,True,True,False,8,2.5,3.500000,10,switzerland,northwestern,northwestern

# Coding features

In [17]:
df['degreeCoded']=df.degree.map({'Doctorate':1,'Masters':0})
df['engCoded']=df.eng.replace({'VeryHigh':0,'High':1,'Medium':2,'Low':3,'VeryLow':4})

In [18]:
df.head(2)

,year,country,degree,eng,gre,fieldGroup,fund,highLevelBachUni,highLevelMasterUni,papersGLOB,gpaBachelors,gpaMasters,papersIRAN,uniAccepted,uniSelected,targetUni,degreeCoded,engCoded
2,2007,england,Doctorate,High,False,7.0,True,False,False,4,3.5,3.442986,8,n/a,heriot-watt,heriot-watt,1,1
3,2010,united states,Doctorate,VeryHigh,True,5.0,True,True,False,8,2.5,3.500000,10,switzerland,northwestern,northwestern,1,0

# Fixing Country

In [19]:
df.country.value_counts().index

Index([u'united states', u'canada', u'n/a', u'germany', u'australia',
       u'sweden', u'italy', u'finland', u'england', u'malaysia', u'turkey',
       u'netherlands', u'norway', u'belgium', u'france', u'new zealand',
       u'swaziland', u'spain', u'singapore', u'austria', u'china', u'india',
       u'russia', u'japan', u'czech republic', u'united kingdom',
       u'iran, islamic republic of'],
      dtype='object')

In [20]:

df.country.replace({'swaziland':'switzerland','england':'united kingdom','korea':'korea, republic of','russia':'russian federation'},inplace=True)

In [21]:
print(df.country.value_counts().index)

Index([            u'united states',                    u'canada',
                             u'n/a',                   u'germany',
                       u'australia',                    u'sweden',
                           u'italy',            u'united kingdom',
                         u'finland',                  u'malaysia',
                          u'turkey',               u'netherlands',
                          u'norway',                   u'belgium',
                          u'france',               u'new zealand',
                     u'switzerland',                     u'spain',
                         u'austria',                 u'singapore',
                           u'china',                     u'india',
              u'russian federation',            u'czech republic',
                           u'japan', u'iran, islamic republic of'],
      dtype='object')

In [22]:
ls=[
    ['united states'],
    ['canada','australia','switzerland']
    ,['sweden','finland','norway','iceland','denmark']
    ,['germany','france','austria','poland','spain','italy']
    ,['united kingdom','netherlands','belgium','new zealand']
    ,['singapore','korea, republic of','japan']
    ,['malaysia','brazil','iran, islamic republic of','south africa','czech republic','turkey','russian federation']
    ,['china','india','pakistan','albania','ireland','mexico','philippines','cyprus']
    ,['tunisia','cambodia','myanmar','libya','bangladesh','uganda','latvia','hungary','puerto rico','indonesia','croatia','gambia','nicaragua','bolivia, plurinational state of','thailand','egypt','colombia','portugal','kenya','greece']
]
df['countryCoded']=df.country.copy()
for i in range(len(ls)):
    for l2 in ls[i]:
        df.countryCoded.replace(l2,i,inplace=True)

In [23]:
df.countryCoded.value_counts()

0      1142
1       816
n/a     508
3       456
2       277
4       176
6       117
5        19
7        15
Name: countryCoded, dtype: int64

In [24]:
df.countryCoded.replace('n/a',df.countryCoded.mode()[0],inplace=True)

In [25]:
df.countryCoded.value_counts()

0    1650
1     816
3     456
2     277
4     176
6     117
5      19
7      15
Name: countryCoded, dtype: int64

In [26]:
df.head(2)

,year,country,degree,eng,gre,fieldGroup,fund,highLevelBachUni,highLevelMasterUni,papersGLOB,gpaBachelors,gpaMasters,papersIRAN,uniAccepted,uniSelected,targetUni,degreeCoded,engCoded,countryCoded
2,2007,united kingdom,Doctorate,High,False,7.0,True,False,False,4,3.5,3.442986,8,n/a,heriot-watt,heriot-watt,1,1,4
3,2010,united states,Doctorate,VeryHigh,True,5.0,True,True,False,8,2.5,3.500000,10,switzerland,northwestern,northwestern,1,0,0

In [27]:
df.to_json('First.json',date_format='utf8')