In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df=pd.read_json('./ranked.json')
df2=pd.read_json('../../05_DataMining_New_Columns/01_Preprocessing/First.json')

In [4]:
df.head(2)

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,inx,papersGLOB,papersIRAN,targetUni,uniRank,year
0,united kingdom,4,Doctorate,1,High,1,7,TRUE,3.5,3.442986,FALSE,FALSE,FALSE,2,4,8,heriot-watt,692,2007
1,united states,0,Doctorate,1,VeryHigh,0,5,TRUE,2.5,3.500000,TRUE,TRUE,FALSE,3,8,10,northwestern,20,2010

In [5]:
df.uniRank.replace(-1,np.nan,inplace=True)

In [6]:
df.uniRank.mean()

293.2584269662921

In [7]:
df['paper']=df.papersGLOB+(df.papersIRAN*1/3)

In [8]:
df.set_index('inx',inplace=True)

In [9]:
del df['papersIRAN']
del df['papersGLOB']

In [10]:
df.head()

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,targetUni,uniRank,year,paper
inx,,,,,,,,,,,,,,,,,
2,united kingdom,4,Doctorate,1,High,1,7,TRUE,3.500000,3.442986,FALSE,FALSE,FALSE,heriot-watt,692.0,2007,6.666667
3,united states,0,Doctorate,1,VeryHigh,0,5,TRUE,2.500000,3.500000,TRUE,TRUE,FALSE,northwestern,20.0,2010,11.333333
5,united states,0,Doctorate,1,VeryHigh,0,10,TRUE,3.500000,4.000000,TRUE,TRUE,TRUE,cornell,11.0,2008,5.333333
6,sweden,2,Masters,0,High,1,0,FALSE,3.000000,3.442986,TRUE,TRUE,FALSE,chalmers,443.0,2008,0.000000
7,spain,3,Masters,0,VeryHigh,0,10,TRUE,2.611309,3.442986,FALSE,FALSE,FALSE,carlos iii de madrid,NaN,2008,0.000000

In [12]:
df2.gre=df.gre
df2.highLevelBachUni=df.highLevelBachUni
df2.highLevelMasterUni=df.highLevelMasterUni

In [13]:
df.to_json('First.json',date_format='utf8')