In [66]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [67]:
df=pd.read_json('./First.json').sort_index()

In [68]:
df.head(2)

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,paper,targetUni,uniRank,year
2,united kingdom,4,Doctorate,1,High,1,7,TRUE,3.5,3.442986,FALSE,FALSE,FALSE,6.666667,heriot-watt,692.0,2007
3,united states,0,Doctorate,1,VeryHigh,0,5,TRUE,2.5,3.500000,TRUE,TRUE,FALSE,11.333333,northwestern,20.0,2010

In [69]:
for d in df[df.country=='canada'].index:
    df.loc[d,'countryCoded']=0
for d in df[df.country==u'switzerland'].index:
    df.loc[d,'countryCoded']=1

In [70]:
df[df.country==u'canada']

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,paper,targetUni,uniRank,year
10,canada,0,Doctorate,1,High,1,11,TRUE,3.000000,4.000000,TRUE,TRUE,TRUE,11.333333,mcmaster,134.0,2008
13,canada,0,Doctorate,1,VeryHigh,0,0,TRUE,2.500000,3.000000,TRUE,TRUE,TRUE,0.333333,calgary,172.0,2008
16,canada,0,Doctorate,1,High,1,0,TRUE,2.000000,4.000000,FALSE,TRUE,TRUE,12.000000,mcmaster,134.0,2008
17,canada,0,Doctorate,1,High,1,7,TRUE,3.500000,3.500000,FALSE,FALSE,TRUE,4.333333,queens,NaN,2008
18,canada,0,Masters,0,High,1,2,TRUE,2.000000,3.442986,FALSE,TRUE,FALSE,4.666667,western ontario,NaN,2008
24,canada,0,Masters,0,Medium,2,13,TRUE,3.000000,3.442986,TRUE,TRUE,FALSE,0.000000,windsor,561.0,2008
34,canada,0,Doctorate,1,VeryHigh,0,12,TRUE,3.000000,3.980000,TRUE,TRUE,FALSE,3.000000,toronto,29.0,2012
40,canada,0,Doctorate,1,VeryHigh,0,2,TRUE,3.500000,3.500000,TRUE,FALSE,TRUE,0.666667,toronto,29.0,2008
47,canada,0,Doctorate,1,High,1,0,TRUE,3.500000,3.500000,TRUE,TRUE,TRUE,2.000000,british columbia,5.0,2008
48,canada,0,Masters,0,High,1,5,TRUE,3.000000,3.442986,TRUE,FALSE,FALSE,0.000000,mcgill,41.0,2008
49,canada,0,Masters,0,High,1,0,TRUE,3.500000,3.442986,FALSE,FALSE,FALSE,0.000000,saskatchewan,468.0,2008
53,canada,0,Masters,0,VeryHigh,0,5,TRUE,3.000000,3.442986,FALSE,TRUE,FALSE,0.333333,ubc (okanagan campus)i,NaN,2008
65,canada,0,Doctorate,1,VeryHigh,0,0,TRUE,2.500000,3.500000,TRUE,TRUE,TRUE,4.333333,sfu or nus,NaN,2008
71,canada,0,Masters,0,High,1,10,FALSE,3.000000,3.442986,FALSE,TRUE,FALSE,1.000000,waterloo,261.0,2008
76,canada,0,Doctorate,1,High,1,5,TRUE,3.000000,3.000000,TRUE,TRUE,TRUE,0.000000,mcgill,41.0,2008
79,canada,0,Doctorate,1,Medium,2,11,TRUE,3.000000,3.500000,TRUE,FALSE,TRUE,5.666667,simon fraser,361.0,2008
86,canada,0,Doctorate,1,VeryHigh,0,10,TRUE,2.500000,3.000000,TRUE,TRUE,TRUE,1.000000,mcgill,41.0,2008
95,canada,0,Doctorate,1,VeryHigh,0,11,TRUE,3.000000,3.000000,TRUE,TRUE,TRUE,2.000000,virginia polytechnic institutestate (virginia...,39.0,2008
102,canada,0,Masters,0,VeryHigh,0,0,TRUE,3.000000,3.442986,FALSE,TRUE,FALSE,6.333333,british columbia,5.0,2008
113,canada,0,Masters,0,High,1,11,TRUE,4.000000,3.442986,TRUE,TRUE,FALSE,1.000000,mcmaster,134.0,2008
114,canada,0,Doctorate,1,High,1,1,TRUE,2.500000,3.000000,TRUE,TRUE,TRUE,6.000000,queens,NaN,2008
120,canada,0,Doctorate,1,VeryHigh,0,0,TRUE,2.611309,3.442986,FALSE,FALSE,FALSE,0.000000,alberta,100.0,2009
127,canada,0,Doctorate,1,VeryHigh,0,1,TRUE,2.000000,4.000000,TRUE,FALSE,FALSE,2.000000,mcmaster,134.0,2008
129,canada,0,Masters,0,VeryHigh,0,5,TRUE,3.000000,3.442986,TRUE,TRUE,FALSE,2.000000,waterloo,261.0,2008
137,canada,0,Doctorate,1,High,1,0,TRUE,3.000000,4.000000,FALSE,TRUE,TRUE,3.000000,western ontario,NaN,2008
140,canada,0,Doctorate,1,VeryHigh,0,1,TRUE,2.000000,4.000000,TRUE,TRUE,FALSE,4.000000,ryerson ?? calgary,172.0,2008
148,canada,0,Masters,0,High,1,4,TRUE,2.500000,3.442986,TRUE,TRUE,FALSE,0.000000,alberta,100.0,2008
153,canada,0,Masters,0,High,1,3,TRUE,2.500000,3.442986,FALSE,TRUE,FALSE,0.000000,windsor,561.0,2008
157,canada,0,Doctorate,1,VeryHigh,0,1,TRUE,3.000000,4.000000,FALSE,TRUE,FALSE,0.000000,toronto,29.0,2008
158,canada,0,Doctorate,1,VeryHigh,0,11,TRUE,3.500000,3.500000,FALSE,TRUE,TRUE,2.000000,alberta,100.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150,canada,0,Doctorate,1,VeryHigh,0,4,TRUE,3.000000,4.000000,TRUE,FALSE,TRUE,1.000000,northern british columbia,5.0,2016
4151,canada,0,Masters,0,Medium,2,1,TRUE,4.000000,3.442986,TRUE,FALSE,FALSE,8.666667,british columbia,5.0,2016
4155,canada,0,Masters,0,VeryHigh,0,0,TRUE,3.000000,3.500000,FALSE,TRUE,TRUE,0.000000,calgary,172.0,2016
4161,canada,0,Masters,0,Medium,2,4,TRUE,2.500000,3.442986,FALSE,FALSE,FALSE,2.666667,western,NaN,2016
4173,canada,0,Masters,0,High,1,4,TRUE,2.500000,3.442986,FALSE,TRUE,FALSE,5.333333,simon fraser,361.0,2016
4185,canada,0,Masters,0,High,1,1,FALSE,2.500000,3.442986,FALSE,FALSE,FALSE,0.000000,concordia,478.0,2017
4190,canada,0,Doctorate,1,Medium,2,5,TRUE,2.000000,4.000000,TRUE,FALSE,FALSE,2.333333,ottawa,192.0,2017
4191,canada,0,Doctorate,1,VeryHigh,0,13,FALSE,4.000000,3.500000,FALSE,FALSE,TRUE,3.333333,mcgill,41.0,2017
4195,canada,0,Doctorate,1,High,1,0,TRUE,3.000000,3.500000,FALSE,FALSE,FALSE,0.666667,concordia,478.0,2017
4197,canada,0,Doctorate,1,VeryHigh,0,1,TRUE,3.000000,3.500000,FALSE,FALSE,TRUE,1.000000,carleton,590.0,2017
4203,canada,0,Doctorate,1,Medium,2,11,TRUE,3.000000,4.000000,FALSE,FALSE,FALSE,2.333333,victoria,348.0,2017
4207,canada,0,Masters,0,VeryHigh,0,0,TRUE,3.500000,3.442986,FALSE,TRUE,FALSE,0.000000,manitoba,235.0,2017
4219,canada,0,Masters,0,High,1,5,TRUE,2.500000,3.442986,TRUE,TRUE,FALSE,0.333333,concordia,478.0,2017
4229,canada,0,Doctorate,1,High,1,0,TRUE,2.500000,3.500000,TRUE,FALSE,FALSE,1.000000,lusaka,NaN,2016
4231,canada,0,Masters,0,High,1,14,FALSE,2.500000,3.500000,FALSE,FALSE,TRUE,0.000000,concordia,478.0,2017
4259,canada,0,Masters,0,High,1,13,TRUE,2.500000,3.442986,FALSE,FALSE,FALSE,0.000000,victoria,348.0,2017
4261,canada,0,Masters,0,Medium,2,9,TRUE,3.500000,4.000000,FALSE,FALSE,FALSE,13.333333,concordia,478.0,2016
4265,canada,0,Masters,0,High,1,10,TRUE,3.500000,3.442986,FALSE,TRUE,FALSE,0.000000,calgary,172.0,2017
4270,canada,0,Masters,0,High,1,0,TRUE,3.500000,3.442986,TRUE,FALSE,FALSE,1.000000,montevallo,NaN,2017
4272,canada,0,Doctorate,1,Medium,2,14,FALSE,4.000000,3.000000,FALSE,FALSE,FALSE,4.000000,manitoba,235.0,2017
4274,canada,0,Masters,0,High,1,0,FALSE,1.500000,3.442986,FALSE,TRUE,FALSE,0.000000,universit� de montr�al,NaN,2017
4277,canada,0,Doctorate,1,VeryHigh,0,0,TRUE,1.500000,3.000000,FALSE,FALSE,FALSE,2.000000,new brunswick,881.0,2017
4281,canada,0,Masters,0,High,1,0,TRUE,1.500000,3.000000,FALSE,FALSE,FALSE,3.666667,concordia,478.0,2017
4282,canada,0,Doctorate,1,Medium,2,11,TRUE,3.500000,4.000000,FALSE,TRUE,TRUE,3.000000,concordia,478.0,2017
4295,canada,0,Doctorate,1,High,1,4,TRUE,2.500000,3.500000,FALSE,FALSE,TRUE,4.666667,ecole polytechnique,NaN,2017
4296,canada,0,Doctorate,1,High,1,5,FALSE,2.500000,4.000000,TRUE,TRUE,TRUE,0.000000,british columbia,5.0,2017
4297,canada,0,Doctorate,1,High,1,13,TRUE,4.000000,4.000000,FALSE,FALSE,FALSE,2.000000,mcgill,41.0,2017
4298,canada,0,Masters,0,VeryHigh,0,10,FALSE,2.500000,3.442986,FALSE,FALSE,FALSE,0.000000,waterloo,261.0,2017
4304,canada,0,Masters,0,High,1,7,FALSE,3.000000,3.442986,TRUE,TRUE,FALSE,0.000000,dalhousie,300.0,2017
4305,canada,0,Doctorate,1,High,1,4,TRUE,2.000000,4.000000,FALSE,TRUE,TRUE,2.666667,mcmaster,134.0,2017

In [71]:
df.head(10)

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,paper,targetUni,uniRank,year
2,united kingdom,4,Doctorate,1,High,1,7,TRUE,3.500000,3.442986,FALSE,FALSE,FALSE,6.666667,heriot-watt,692.0,2007
3,united states,0,Doctorate,1,VeryHigh,0,5,TRUE,2.500000,3.500000,TRUE,TRUE,FALSE,11.333333,northwestern,20.0,2010
5,united states,0,Doctorate,1,VeryHigh,0,10,TRUE,3.500000,4.000000,TRUE,TRUE,TRUE,5.333333,cornell,11.0,2008
6,sweden,2,Masters,0,High,1,0,FALSE,3.000000,3.442986,TRUE,TRUE,FALSE,0.000000,chalmers,443.0,2008
7,spain,3,Masters,0,VeryHigh,0,10,TRUE,2.611309,3.442986,FALSE,FALSE,FALSE,0.000000,carlos iii de madrid,NaN,2008
8,australia,1,Masters,0,Medium,2,10,FALSE,3.000000,2.500000,FALSE,TRUE,TRUE,0.000000,adelaide,318.0,2009
9,united states,0,Masters,0,VeryHigh,0,0,TRUE,3.500000,3.500000,FALSE,TRUE,FALSE,1.000000,"new york , abu dhabi",21.0,2008
10,canada,0,Doctorate,1,High,1,11,TRUE,3.000000,4.000000,TRUE,TRUE,TRUE,11.333333,mcmaster,134.0,2008
12,united states,0,Masters,0,High,1,0,TRUE,3.500000,3.000000,TRUE,FALSE,FALSE,0.666667,tallinn,NaN,2007
13,canada,0,Doctorate,1,VeryHigh,0,0,TRUE,2.500000,3.000000,TRUE,TRUE,TRUE,0.333333,calgary,172.0,2008

In [72]:
df.to_json('First.json',date_format='utf8')